html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}
.gradient{
    background: rgb(0,0,0);
    background: linear-gradient(167deg, rgba(0,0,0,1) 0%, rgba(162,162,162,1) 80%);
}
.page-header{
    margin-top: 5rem;
    font-size: 1.25rem;
    color:#fff
}
